/* <----------------------------------------------HEADER---------------------------------------> */
.header {					/*общий стиль хидер*/
	position: relative;
	height: 920px;
	width: 100%;
	background: linear-gradient(to top, #b478b6, #f0689e );
	background-image: url(../img/BG-Image1.jpg);
}
.text_logo {   /*стиль текстового логотипа*/
	position: absolute;
	float: left;
	left: 60px;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}
.nav {			/*стиль для блока навигации*/
	position: absolute;
	right: 60px;
	text-align: center;
}
.nav > a {		/*стиль для ссылок блока навигации*/
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}
.title_text {  /*стиль первого текстового блока*/
	position: absolute;
	top: 275px;
	left: 580px;
	font-size: 45px;
	color: #fff;
}
.title_text2 {	/*стиль второго текстового блока*/
	position: absolute;
	position: absolute;
	top: 350px;
	left: 670px;
	font-size: 20px;
	color: #fff;
}
.bth_subscribe {		/*стиль для кнопки подписки*/
	position: absolute;
	top: 400px;
	left: 820px;
	height: 60px;
	width: 276px;
	background-color: #fed45c;
	border-radius: 30px 30px 30px 30px;
}
.bth_subscribe > a {	/*стиль ссылки кнопки*/
	display: block;
	height: 60px;
	width: 100%;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 60px;
	text-align: center;
	color: #000;
}
.box_comment {				/*контейнер для отзыва*/
	position: absolute;
	top: 440px;
	left: 342px;
	height: 78px;
	width: 220px;
	background-image: url(../img/comment.png);
	text-align: center;
	color: #444444;
}
.logo_box_1 {				/*1 контейнер для логотипов*/ 
	position: absolute;
	left: 475px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_2 {				/*2 контейнер для логотипов*/
	position: absolute;
	left: 675px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_3 {				/*3 контейнер для логотипов*/
	position: absolute;
	right: 865px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_4 {				/*4 контейнер для логотипов*/
	position: absolute;
	right: 675px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_5 {				/*5 контейнер для логотипов*/
	position: absolute;
	right: 475px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_1 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_2 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_3 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_4 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_5 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}

/* <--------------------------------------SECTION MAIN---------------------------------------> */
.section_main {
	height: 966px;
	width: 100%;
	background-color: #fff;
}
.main_box {
	margin-top: 250px;
	margin-left: 370px;
	width: 60%;
	height: 700px;
	border: 1px black solid;
}
.box_left {
	width: 60%;
	height: 295px;
	float: left;
	border: 1px black solid;
}
.box_right {
	width: 39%;
	height: 295px;
	float: right;
	border: 1px black solid;
}
.box_bot {
	float: left;
	width: 70%;
	height: 250px;
	margin-top: 8%;
	margin-left: 15%;
	border: 1px black solid;
}
/* <--------------------------------------SECTION INFO---------------------------------------> */

.section_info {
	height: 365px;
	width: 100%;
	background-color: #fcfcfc;
	border: 1px black solid;
}
.conteiner_info {
	height: 270px;
	width: 55%;
	margin-left: 22%;
	margin-top: 2%;
	border: 1px black solid;
}
.info_box_1, 
.info_box_2, 
.info_box_3  {
	height: 180px;
	width: 30%;
	float: left;
	margin-top: 4%;
	margin-left: 2%;
	border: 1px black solid; 
}


























.section_statistics {
	position: relative;
	height: 419px;
	width: 100%;
	background: linear-gradient(to top, #b478b6, #f0689e );
	background-image: url(../img/BG_img2_02.jpg);
}
.section_products {
	position: relative;
	height: 730px;
	width: 100%;
	background-color: #fff;
}
.section_news {
	position: relative;
	height: 900px;
	width: 100%;
	background-color: #f6f6f6;
}
.section_support {
	position: relative;
	height: 570px;
	width: 100%;
	background-color: #fff;
}
.footer {
	position: relative;
	height: 287px;
	width: 100%;
	background: #303d59;
	background-image: url(../img/BG-Shapes_02.jpg);
}
