@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto Light.ttf');
	font-weight: normal;
	font-style: normal;
}
/* <------------HEADER-------------> */
.header {					/*общий стиль хидер*/
	position: relative;
	height: 920px;
	width: 100%;
	background: linear-gradient(to top, #b478b6, #f0689e );
	background-image: url(../img/BG-Image1.jpg);
}
.text_logo {   /*стиль текстового логотипа*/
	position: absolute;
	float: left;
	left: 60px;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}
.nav {			/*стиль для блока навигации*/
	position: absolute;
	right: 60px;
	text-align: center;
}
.nav > a {		/*стиль для ссылок блока навигации*/
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}
.title_text {  /*стиль первого текстового блока*/
	position: absolute;
	top: 275px;
	left: 580px;
	font-size: 45px;
	color: #fff;
}
.title_text2 {	/*стиль второго текстового блока*/
	position: absolute;
	position: absolute;
	top: 350px;
	left: 670px;
	font-size: 20px;
	color: #fff;
}
.bth_subscribe {		/*стиль для кнопки подписки*/
	position: absolute;
	top: 400px;
	left: 820px;
	height: 60px;
	width: 276px;
	background-color: #fed45c;
	border-radius: 30px 30px 30px 30px;
}
.bth_subscribe > a {	/*стиль ссылки кнопки*/
	display: block;
	height: 60px;
	width: 100%;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 60px;
	text-align: center;
	color: #000;
}
.box_comment {				/*контейнер для отзыва*/
	position: absolute;
	top: 440px;
	left: 342px;
	height: 78px;
	width: 220px;
	background-image: url(../img/comment.png);
	text-align: center;
	color: #444444;
}
.logo_box_1 {				/*1 контейнер для логотипов*/ 
	position: absolute;
	left: 475px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_2 {				/*2 контейнер для логотипов*/
	position: absolute;
	left: 675px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_3 {				/*3 контейнер для логотипов*/
	position: absolute;
	right: 865px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_4 {				/*4 контейнер для логотипов*/
	position: absolute;
	right: 675px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_5 {				/*5 контейнер для логотипов*/
	position: absolute;
	right: 475px;
	top: 860px;
	height: 145px;
	width: 150px;
	background: #fff;
	border: 1px black solid;
	z-index: 1;
}
.logo_box_1 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_2 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_3 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_4 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_5 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}

/* <-----------SECTION MAIN-------------> */
.main {
	height: 966px;
	width: 100%;
	background-color: #fff;
}
.box_left {
	width: 28%;
	height: 295px;
	float: left;
	margin-left: 19%;
	margin-top: 10%;
	border: 1px red solid;
}
.box_right {
	width: 28%;
	height: 295px;
	float: left;
	margin-top: 10%;
	margin-left: 5%;
	border: 1px green solid;
	background: #d0d0d0;
}
.box_bot {
	float: left;
	width: 40%;
	height: 250px;
	margin-left: 30%;
	margin-top: 5%;
	border: 1px black solid;
	text-align: center;
}
.box_left_text_1 {
	color: #777777;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 0 5px 0;
	font-family: 'Roboto Light', arial;
}
.box_left_text_2 {
	font-size: 35px;
	margin: 5px 0 5px 0;
	font-family: 'Roboto Light', arial;
}
.box_left_text_3 {
	color: #777777;
	font-size: 18px;
	font-family: 'Roboto Light', arial;
}
.box_left_text_4 {
	color: #777777;
	font-size: 14px;
}
.box_bot_text_1, 
.box_bot_text_3 {
	text-transform: uppercase;
	font-size: 13px;
}
.box_bot_text_2 {
	color: #777777;
	font-size: 20px;
}
.btn_main {
	height: 50px;
	width: 35%;
	background: #fed45c;
	border-radius: 25px;
}
/* <--------------SECTION INFO-----------> */
.info {
	height: 365px;
	width: 100%;
	background-color: #fcfcfc;
	border: 1px black solid;
	text-align: center;
}
.info_box_1, 
.info_box_2, 
.info_box_3  {
	display: inline-block;
	width: 17%;
	margin-top: 4%;
	margin-left: 2%;
	border: 1px black solid; 
	text-align: center;
	font-size: 14px;
}


/* <-----------SECTION STATISTIC--------> */

.statistics {
	height: 419px;
	width: 100%;
	background: linear-gradient(to top, #b478b6, #f0689e );
	background-image: url(../img/BG-Image2.jpg);
}
.statistics  img {
	display: inline-block;
	float: left;
}
.phone_pic {
	margin-left: 19%;
	margin-top: 14%;
}
.Mockup_pic {
	margin-left: -2%;
	margin-top: 3%;	
}
.mouse_pic {
	margin-top: 14%;		
}
.statistic_text_box {
	float: left;
	width: 30%;
	margin-top: 5%;
	margin-left: 3%;
	border: 1px black solid;
}
.statistic_text_box > p {
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
}
.statistic_text_box p:nth-child(3), 
.statistic_text_box p:nth-child(4) {
	margin-left: 10%;
}

.statistic_text_box > h2 {
	margin: 0 0 5% 0;
	font-size: 35px;
	color: #fff;
}
.text {
	font-size: 38px;
}

/* <-------SECTION PRODUCTS-----------> */
.products {
	height: 730px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.products_box_left {
	display: inline-block;
	height: 370px;
	width: 25%;
	border: 1px black solid;
	margin-top: 5%;
}
.products_box_right {
	display: inline-block;
	height: 370px;
	width: 25%;
	border: 1px red solid;
	margin-top: 5%;
	background: #d0d0d0;
}
.products_pagination {
	margin: 0;
	padding: 0;
}
.products_pagination > li {
	display: inline;
}
/* <---------SECTION NEWS----------> */
.news {
	position: relative;
	height: 900px;
	width: 100%;
	background-color: #f6f6f6;
}
.news_box_left {
	float: left;
	height: 520px;
	width: 15% ;
	border: 1px black solid;
	margin-left: 20%;
	margin-top: 5%;

}
.news_box_right {
	float: left;
	height: 630px;
	width: 40%;
	border: 1px black solid;
	margin-left: 5%;
	margin-top: 5%;
}
.news_preview_1, 
.news_preview_2 {
	height: 320px;
	width: 47%;
	float: left;
	border: 1px black solid;
}
.news_preview_2 {
	margin-left: 5%;
}
.preview_1_photo, 
.preview_2_photo {
	height: 207px;
	width: 100%;
	background: #d0d0d0;
}
.news_table {
	width: 100%;
	border: 1px black solid;
}
.news_table  td {
	border: 1px black solid;
}




/* <----------SECTION SUPPORT-------> */
.support {
	height: 570px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}
.support_box_1, 
.support_box_2, 
.support_box_3 {
	display: inline-block;
	width: 13%;
	margin-top: 2%;
	margin-left: 7%;
	border: 1px black solid; 
}
.support_btn_1,
.support_btn_2, 
.support_btn_3 {
	width: 66%;
	height: 43px;
	border: 1px #e3e3e3 solid;
	border-radius: 43px;
	text-transform: uppercase;
}
.support_btn_1, 
.support_btn_3 {
	background: #fff;
}
.support_btn_2 {
	background: #fed45c;
}

/* <--------------------------------------FOOTER---------------------------------------> */
.footer {
	height: 287px;
	width: 100%;
	background: #303d59;
	background-image: url(../img/BG-Shapes_02.jpg);
	text-align: center;
}
.footer  p {
	font-size: 14px;
	color: #fff;
}
.socials_box {
	display: inline-block;
	margin-top: 4%;
	margin-left: 7px;
}