@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto Light.ttf');
	font-weight: normal;
	font-style: normal;
}
body {
	color: #929292;
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}
/* <------------HEADER-------------> */
.header {					/*общий стиль хидер*/
	position: relative;
	height: 920px;
	width: 100%;
	background: linear-gradient(to top, #b478b6, #f0689e );
	background-image: url(../img/BG-Image1.jpg);
}
.text_logo {   /*стиль текстового логотипа*/
	position: absolute;
	float: left;
	left: 60px;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}
.nav {			/*стиль для блока навигации*/
	position: absolute;
	right: 60px;
	text-align: center;
}
.nav > a {		/*стиль для ссылок блока навигации*/
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}
.title_text {  /*стиль первого текстового блока*/
	position: absolute;
	top: 275px;
	left: 580px;
	font-size: 45px;
	color: #fff;
}
.title_text2 {	/*стиль второго текстового блока*/
	position: absolute;
	position: absolute;
	top: 350px;
	left: 670px;
	font-size: 20px;
	color: #fff;
}
.bth_subscribe {		/*стиль для кнопки подписки*/
	position: absolute;
	top: 400px;
	left: 820px;
	height: 60px;
	width: 276px;
	background-color: #fed45c;
	border-radius: 30px 30px 30px 30px;
}
.bth_subscribe > a {	/*стиль ссылки кнопки*/
	display: block;
	height: 60px;
	width: 100%;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 60px;
	text-align: center;
	color: #000;
}
.box_comment {				/*контейнер для отзыва*/
	position: absolute;
	top: 440px;
	left: 342px;
	height: 78px;
	width: 220px;
	background-image: url(../img/comment.png);
	text-align: center;
	color: #444444;
}
.container_logo {
	position: absolute;
	margin-top: -4%;
	margin-left: 25%;
	width: 48%;
	z-index: 1;
}
.logo_box_1, 
.logo_box_2, 
.logo_box_3, 
.logo_box_4, 
.logo_box_5 {
	display: inline-block;
	margin-left: 20px;
	background: #fff;
	box-shadow: 0px 0px 10px 1px #d0d0d0;
}
.logo_box_1 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_2 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_3 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_4 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}
.logo_box_5 > a {				/*растяжение ссылки по величине контейнера для логотипа*/
	display: block;
	width: 100%;
	height: 100%;
}

/* <-----------SECTION MAIN-------------> */
.main {
	position: relative;
	height: 966px;
	width: 100%;
	background-color: #fff;
}
.box_left {
	width: 28%;
	height: 295px;
	float: left;
	margin-left: 19%;
	margin-top: 10%;
}
.box_right {
	width: 28%;
	height: 295px;
	float: left;
	margin-top: 10%;
	margin-left: 5%;
	background: #d0d0d0;
}
.box_bot {
	float: left;
	width: 40%;
	height: 250px;
	margin-left: 30%;
	margin-top: 5%;
	text-align: center;
}
.box_left_text_1 {
	color: #777777;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 0 5px 0;
	font-family: 'Roboto Light', arial;
}
.box_left_text_2 {
	color: #222;
	font-size: 35px;
	margin: 5px 0 5px 0;
	font-family: 'Roboto Light', arial;
}
.box_left_text_3 {
	color: #777777;
	font-size: 18px;
	font-family: 'Roboto Light', arial;
}
.box_left_text_3 span {
	color: #222;
}
.box_left_text_4 {
	color: #777777;
	font-size: 14px;
}
.box_bot_text_1, 
.box_bot_text_3 {
	text-transform: uppercase;
	font-size: 13px;
}
.box_bot_text_2 {
	color: #777777;
	font-size: 20px;
}
.box_bot_text_3 span {
	color: #222;
}
.btn_main {
	height: 50px;
	width: 35%;
	background: #fed45c;
	border: 0;
	border-radius: 25px;
}
/* <--------------SECTION INFO-----------> */
.info {
	height: 365px;
	width: 100%;
	background-color: #fcfcfc;
	text-align: center;
}
.info h3 {
	color: #222;
}
.info_box_1, 
.info_box_2, 
.info_box_3  {
	display: inline-block;
	width: 17%;
	margin-top: 4%;
	margin-left: 2%;
	text-align: center;
	font-size: 14px;
}


/* <-----------SECTION STATISTIC--------> */

.statistics {
	height: 419px;
	width: 100%;
	background: linear-gradient(to top, #b478b6, #f0689e );
	background-image: url(../img/BG-Image2.jpg);
	background-size: 100% 100%;
}
.statistics  img {
	float: left;
}
.phone_pic {
	margin-left: 19%;
	margin-top: 14%;
}
.Mockup_pic {
	margin-left: -2%;
	margin-top: 3%;	
}
.mouse_pic {
	margin-top: 14%;		
}
.statistic_text_box {
	float: left;
	width: 30%;
	margin-top: 5%;
	margin-left: 3%;
}
.statistic_text_box > p {
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
}
.statistic_text_box p:nth-child(3), 
.statistic_text_box p:nth-child(4) {
	margin-left: 10%;
}

.statistic_text_box > h2 {
	margin: 0 0 5% 0;
	font-size: 35px;
	color: #fff;
}
.text {
	font-size: 38px;
}

/* <-------SECTION PRODUCTS-----------> */
.products {
	height: 730px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}
.products_box_left {
	height: 370px;
	width: 32%;
	margin-top: 5%;
	margin-left: 15%;
	float: left;
}
.products_box_right {
	height: 370px;
	width: 28%;
	margin-top: 5%;
	margin-left: 5%;
	background: #d0d0d0;
	box-shadow: 0px 0px 10px 5px #d0d0d0;
	float: left;
}
.products > h2 {
	color: #222222;
	font-size: 35px;
}
.products h3 {
	font-size: 16px;
}
.products_box_left > h2 {
	text-align: left;
	font-size: 24px;
	color: #222222
}
.products_box_left > p {
	text-align: left;
	font-size: 14px;
	line-height: 2.5;
}
.products_pagination {
	margin: 0;
	padding: 0;
	text-align: left;
}
.products_pagination  a {
	text-decoration: none;
	color: #929292;
}
.products_pagination  a:hover {
	color: #ff6699;
	text-decoration: underline;
}
.poducts_btn_1,
.poducts_btn_2 {
	display: block;
	float: left;
	height: 43px;
	margin-top: 5%;
	border-radius: 43px;
	text-transform: uppercase;
}
.poducts_btn_1 {	
	width: 130px;
	border: 1px #e3e3e3 solid;
	background: #fff;
} 
.poducts_btn_2 {
	width: 150px;
	margin-left: 1%;
	background: #fed45c;
	border: 0;
}
.products_box_right_slidebar {
	width: 100%;
	height: 30px;
	background: #fff;
}
.products_box_right_slidebar  a {
	display: block;
	float: left;
	height: 15px;
	width: 15px;
	background: #e0e0e0;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
}
.products_box_right_slidebar  a:hover {
	background: red;
}
/* <---------SECTION NEWS----------> */
.news {
	position: relative;
	height: 900px;
	width: 100%;
	background-color: #f6f6f6;
}
.news_box_left {
	float: left;
	width: 15% ;
	margin-left: 20%;
	margin-top: 5%;
	padding: 0 20px 0 20px;
	background: #fff;
	box-shadow: 0px 0px 10px 5px #d0d0d0;
}
.news_box_right {
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-top: 5%;
}
.news_box_left h2 {
	color: #222;
}
.news_box_left input {
	width: 90%;
	margin-top: 20px;
	padding: 10px;
	border: 1px #e8e8e8 solid;
	border-radius: 8px;
}
.news_box_left button {
	width: 103%;
	height: 10%;
	background: #fed45c;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border: 0;
	border-radius: 40px;
}
.news_box_right h2 {
	font-size: 30px;
	color: #222222;
}
.news_preview_1, 
.news_preview_2 {
	width: 47%;
	float: left;
	font-size: 16px;
	color: #222;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px #d0d0d0;
}
.news_preview_2 {
	margin-left: 5%;
}
.preview_1_photo, 
.preview_2_photo {
	height: 207px;
	width: 100%;
	background: #d0d0d0;
}
.news_time {
	color: #666;
}
.news_desc {
	float: left;
}
.news_desc div {
	height: 40px;
	border-bottom: 1px #E7E7E7 solid;
}
.news_desc p {
	float:left;
	width: 80%;
	margin: 10px 0;
	font-size: 17px;
}
.news_desc a {
	float: right;
	width: 20px;
	margin: 10px 10px 0 10px;
	text-decoration: none;
	text-align: center;
	color: #8c8c8c;
	border: 3px #e6e6e6 solid;
	border-radius: 30px;
}
/* <----------SECTION SUPPORT-------> */
.support {
	height: 570px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}
.support h2, 
.support h3 {
	color: #222;
}
.support > p {
	font-size: 22px;
}
.support_box_1, 
.support_box_2, 
.support_box_3 {
	display: inline-block;
	width: 13%;
	margin-top: 2%;
	margin-left: 7%;
}
.support_btn_1,
.support_btn_2, 
.support_btn_3 {
	width: 66%;
	height: 43px;
	border: 1px #e3e3e3 solid;
	border-radius: 43px;
	text-transform: uppercase;
}
.support_btn_1, 
.support_btn_3 {
	background: #fff;
}
.support_btn_2 {
	background: #fed45c;
}

/* <--------------------------------------FOOTER---------------------------------------> */
.footer {
	height: 287px;
	width: 100%;
	background: #303d59;
	background-image: url(../img/BG-Shapes_02.jpg);
	text-align: center;
}
.footer  p {
	font-size: 14px;
	color: #fff;
}
.socials_box {
	display: inline-block;
	margin-top: 4%;
	margin-left: 7px;
}